<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>born1.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,85},{60,42}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,66}</string>
            </dict>
            <key>born2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,84},{60,42}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>born3.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,67},{60,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,63}}</string>
                <key>sourceSize</key>
                <string>{60,63}</string>
            </dict>
            <key>born4.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,77},{60,48}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>born5.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,67},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>born6.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,67},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>born7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,66},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>born8.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,67},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>born9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,66},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>c1d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{30,64}</string>
            </dict>
            <key>c1d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1},{27,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,64}}</string>
                <key>sourceSize</key>
                <string>{27,64}</string>
            </dict>
            <key>c1d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{30,64}</string>
            </dict>
            <key>c1d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1},{29,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,64}}</string>
                <key>sourceSize</key>
                <string>{29,64}</string>
            </dict>
            <key>c1l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1},{29,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,65}}</string>
                <key>sourceSize</key>
                <string>{29,65}</string>
            </dict>
            <key>c1l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>c1l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1},{29,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,65}}</string>
                <key>sourceSize</key>
                <string>{29,65}</string>
            </dict>
            <key>c1l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,93},{33,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,64}}</string>
                <key>sourceSize</key>
                <string>{33,64}</string>
            </dict>
            <key>c1r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1},{29,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,65}}</string>
                <key>sourceSize</key>
                <string>{29,65}</string>
            </dict>
            <key>c1r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>c1r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1},{29,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,65}}</string>
                <key>sourceSize</key>
                <string>{29,65}</string>
            </dict>
            <key>c1r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,88},{33,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,64}}</string>
                <key>sourceSize</key>
                <string>{33,64}</string>
            </dict>
            <key>c1u1.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1},{30,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,65}}</string>
                <key>sourceSize</key>
                <string>{30,65}</string>
            </dict>
            <key>c1u2.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{30,64}</string>
            </dict>
            <key>c1u3.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1},{30,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,65}}</string>
                <key>sourceSize</key>
                <string>{30,65}</string>
            </dict>
            <key>c1u4.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1},{29,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,64}}</string>
                <key>sourceSize</key>
                <string>{29,64}</string>
            </dict>
            <key>c2d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1},{29,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,63}}</string>
                <key>sourceSize</key>
                <string>{29,63}</string>
            </dict>
            <key>c2d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1},{28,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,63}}</string>
                <key>sourceSize</key>
                <string>{28,63}</string>
            </dict>
            <key>c2d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1},{29,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,63}}</string>
                <key>sourceSize</key>
                <string>{29,63}</string>
            </dict>
            <key>c2d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1},{28,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,63}}</string>
                <key>sourceSize</key>
                <string>{28,63}</string>
            </dict>
            <key>c2l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1},{28,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,62}}</string>
                <key>sourceSize</key>
                <string>{28,62}</string>
            </dict>
            <key>c2l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,66},{32,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,61}}</string>
                <key>sourceSize</key>
                <string>{32,61}</string>
            </dict>
            <key>c2l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1},{28,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,62}}</string>
                <key>sourceSize</key>
                <string>{28,62}</string>
            </dict>
            <key>c2l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,87},{33,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{33,61}</string>
            </dict>
            <key>c2r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1},{28,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,62}}</string>
                <key>sourceSize</key>
                <string>{28,62}</string>
            </dict>
            <key>c2r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,66},{32,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,61}}</string>
                <key>sourceSize</key>
                <string>{32,61}</string>
            </dict>
            <key>c2r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1},{28,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,62}}</string>
                <key>sourceSize</key>
                <string>{28,62}</string>
            </dict>
            <key>c2r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,86},{33,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{33,61}</string>
            </dict>
            <key>c2u1.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1},{29,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,63}}</string>
                <key>sourceSize</key>
                <string>{29,63}</string>
            </dict>
            <key>c2u2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1},{28,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,63}}</string>
                <key>sourceSize</key>
                <string>{28,63}</string>
            </dict>
            <key>c2u3.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1},{29,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,63}}</string>
                <key>sourceSize</key>
                <string>{29,63}</string>
            </dict>
            <key>c2u4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1},{28,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,63}}</string>
                <key>sourceSize</key>
                <string>{28,63}</string>
            </dict>
            <key>c3d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,65},{29,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,60}}</string>
                <key>sourceSize</key>
                <string>{29,60}</string>
            </dict>
            <key>c3d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,63},{25,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,60}}</string>
                <key>sourceSize</key>
                <string>{25,60}</string>
            </dict>
            <key>c3d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,65},{29,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,60}}</string>
                <key>sourceSize</key>
                <string>{29,60}</string>
            </dict>
            <key>c3d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,90},{25,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,60}}</string>
                <key>sourceSize</key>
                <string>{25,60}</string>
            </dict>
            <key>c3l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1},{21,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,60}}</string>
                <key>sourceSize</key>
                <string>{21,60}</string>
            </dict>
            <key>c3l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,68},{31,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,59}}</string>
                <key>sourceSize</key>
                <string>{31,59}</string>
            </dict>
            <key>c3l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1},{21,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,60}}</string>
                <key>sourceSize</key>
                <string>{21,60}</string>
            </dict>
            <key>c3l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,74},{33,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,59}}</string>
                <key>sourceSize</key>
                <string>{33,59}</string>
            </dict>
            <key>c3r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,1},{21,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,60}}</string>
                <key>sourceSize</key>
                <string>{21,60}</string>
            </dict>
            <key>c3r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,68},{31,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,59}}</string>
                <key>sourceSize</key>
                <string>{31,59}</string>
            </dict>
            <key>c3r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,1},{21,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,60}}</string>
                <key>sourceSize</key>
                <string>{21,60}</string>
            </dict>
            <key>c3r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,68},{33,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,59}}</string>
                <key>sourceSize</key>
                <string>{33,59}</string>
            </dict>
            <key>c3u1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1},{29,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,60}}</string>
                <key>sourceSize</key>
                <string>{29,60}</string>
            </dict>
            <key>c3u2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,63},{27,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,60}}</string>
                <key>sourceSize</key>
                <string>{27,60}</string>
            </dict>
            <key>c3u3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1},{29,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,60}}</string>
                <key>sourceSize</key>
                <string>{29,60}</string>
            </dict>
            <key>c3u4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1},{27,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,60}}</string>
                <key>sourceSize</key>
                <string>{27,60}</string>
            </dict>
            <key>kill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>kill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{58,90}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>kill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,68},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>kill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1},{63,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{63,71}</string>
            </dict>
            <key>kill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1},{64,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,81}}</string>
                <key>sourceSize</key>
                <string>{64,81}</string>
            </dict>
            <key>kill6.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1},{63,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,84}}</string>
                <key>sourceSize</key>
                <string>{63,84}</string>
            </dict>
            <key>kill7.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>kill8.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1},{57,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,85}}</string>
                <key>sourceSize</key>
                <string>{57,85}</string>
            </dict>
            <key>kill9.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>myPointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,88},{22,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,35}}</string>
                <key>sourceSize</key>
                <string>{22,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bombChars.png</string>
            <key>size</key>
            <string>{1252,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0da9b9334cf93e19a3ae65ee48e9412c:e2eb6d95247fb8bde7b684641085d0f6:41b4d4f749a689b3c81c15d3285b6213$</string>
            <key>textureFileName</key>
            <string>bombChars.png</string>
        </dict>
    </dict>
</plist>
