<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_info_opacity.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,341},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>btn_bind_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,603},{121,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,124}</string>
            </dict>
            <key>btn_bind_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{121,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,124}</string>
            </dict>
            <key>btn_close_l_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,829},{66,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{66,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_close_l_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,729},{72,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{72,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_close_s_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,405},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{54,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_close_s_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,345},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{58,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_dice_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,461},{50,60}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,60}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>btn_dice_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,799},{66,76}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>btn_favorite_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,596},{121,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,124}</string>
            </dict>
            <key>btn_favorite_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{121,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,124}</string>
            </dict>
            <key>btn_first_charge_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{185,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,62}}</string>
                <key>sourceSize</key>
                <string>{185,62}</string>
            </dict>
            <key>btn_first_charge_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,62}}</string>
                <key>sourceSize</key>
                <string>{185,62}</string>
            </dict>
            <key>btn_go_battle_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,895},{76,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{76,90}</string>
            </dict>
            <key>btn_go_battle_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,895},{76,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{76,90}</string>
            </dict>
            <key>btn_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{177,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,72}}</string>
                <key>sourceSize</key>
                <string>{177,72}</string>
            </dict>
            <key>btn_menu_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{133,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,67}}</string>
                <key>sourceSize</key>
                <string>{133,67}</string>
            </dict>
            <key>btn_menu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{133,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,67}}</string>
                <key>sourceSize</key>
                <string>{133,67}</string>
            </dict>
            <key>btn_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,632},{86,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{86,105}}</string>
                <key>sourceSize</key>
                <string>{98,107}</string>
            </dict>
            <key>btn_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,523},{98,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,107}}</string>
                <key>sourceSize</key>
                <string>{98,107}</string>
            </dict>
            <key>btn_public_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,470},{121,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,124}</string>
            </dict>
            <key>btn_public_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{121,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,124}</string>
            </dict>
            <key>btn_share_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,477},{121,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,124}</string>
            </dict>
            <key>btn_share_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,351},{121,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,124}</string>
            </dict>
            <key>btn_start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,211},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>btn_start_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,71},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>btn_tower_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,214},{174,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{174,67}}</string>
                <key>sourceSize</key>
                <string>{180,75}</string>
            </dict>
            <key>btn_tower_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{180,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,75}}</string>
                <key>sourceSize</key>
                <string>{180,75}</string>
            </dict>
            <key>daily_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,729},{76,77}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{76,77}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>daily_box_opened.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,891},{74,81}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,81}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>label_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,140},{177,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,72}}</string>
                <key>sourceSize</key>
                <string>{177,72}</string>
            </dict>
            <key>label_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,66},{177,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,72}}</string>
                <key>sourceSize</key>
                <string>{177,72}</string>
            </dict>
            <key>stdButton2_Forbid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{107,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{107,105}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>stdButton2_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,722},{107,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{107,105}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>stdButton2_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,345},{125,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>stdButton_Forbid.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,283},{172,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{172,60}}</string>
                <key>sourceSize</key>
                <string>{200,96}</string>
            </dict>
            <key>stdButton_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{172,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{172,60}}</string>
                <key>sourceSize</key>
                <string>{200,96}</string>
            </dict>
            <key>stdButton_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{172,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{172,60}}</string>
                <key>sourceSize</key>
                <string>{200,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a13d6ad857cd714842f5a2892ae6266:0369de2aba301a1d66b3440df1e1cb55:1854a1d167269096d09aabff2abc0569$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
