<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Joystick.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,113},{73,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,78}}</string>
                <key>sourceSize</key>
                <string>{73,78}</string>
            </dict>
            <key>JoystickBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,113},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,91},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>common_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{210,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,110}}</string>
                <key>sourceSize</key>
                <string>{210,110}</string>
            </dict>
            <key>dice_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,188},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>dice_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,133},{55,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,64}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>fireball.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,113},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>grass_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,190},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>grass_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,51},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>item_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,218},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>item_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,218},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>item_money1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,190},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>item_ski.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,225},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>wall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,91},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>wall_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>wall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,218},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>wall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,224},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameBody.png</string>
            <key>size</key>
            <string>{252,259}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:370d0969bcee17336791c39fcf8f3181:5e5fe826f21fdb6f7f0fdc00477408ce:158614f8c02b96d30801dd95d210cb17$</string>
            <key>textureFileName</key>
            <string>gameBody.png</string>
        </dict>
    </dict>
</plist>
